.card-info{
    text-align: center;
    padding-bottom: 10px;
}
.title{
    padding: 15px 10px 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}
#card-num{
    font-size: 24px;
}
canvas{
    position: relative;
    margin: 10px 5px;
    max-height: 300px !important;
    max-width: 580px !important;
}
